@page "/ContactEdit"
@page "/ContactEdit/{ContactId}"
@inherits ContactEditBase

<section class="column">
    <div class="box contact-edit">

        @if (!Saved)
        {
            <h1 class="title">Details for @Contact.FullName</h1>

            <EditForm Model="@Contact" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <div class="field">
                    <label for="firstName" class="label">First name: </label>
                    <div class="control">
                        <InputText id="firstName" class="input" @bind-Value="@Contact.FirstName" placeholder="Enter first name"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.FirstName)"/>
                    </div>
                </div>
                <div class="field">
                    <label for="middleName" class="label">Middle name: </label>
                    <div class="control">
                        <InputText id="middleName" class="input" @bind-Value="@Contact.MiddleName" placeholder="Enter middle name"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.MiddleName)"/>
                    </div>
                </div>
                <div class="field">
                    <label for="lastName" class="label">Last name:</label>
                    <div class="control">
                        <InputText id="lastName" class="input" @bind-Value="@Contact.LastName" placeholder="Enter last name"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.LastName)"/>
                    </div>
                </div>

                <div class="field">
                    <label for="address" class="label">Address: </label>
                    <div class="control">
                        <InputText id="address" class="input" @bind-Value="@Contact.Address" placeholder="Address"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.Address)"/>
                    </div>
                </div>

                <div class="field">
                    <label for="employer" class="label">Employer: </label>
                    <div class="control">
                        <InputText id="employer" class="input" @bind-Value="@Contact.Employer" placeholder="Employer"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.Employer)"/>
                    </div>
                </div>
                <div class="field">
                    <label for="businessTitle" class="label">BusinessTitle: </label>
                    <div class="control">
                        <InputText id="businessTitle" class="input" @bind-Value="@Contact.BusinessTitle" placeholder="Business Title"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.BusinessTitle)"/>
                    </div>
                </div>
                
                <div class="panel">
                    <p class="panel-heading">
                        Emails
                        <a class="button is-pulled-right is-small is-success" @onclick="@CreateEmailAddress">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                
                    @foreach (var email in Contact.EmailAddresses)
                    {
                        <div class="panel-block">
                            <label class="label">@email.Type</label>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-info" href="mailto:@email.Email">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </p>
                                <div class="control is-expanded">
                                    <input class="input" value="@email.Email" type="email" placeholder="email@@domoain.com" disabled="disabled">
                                </div>
                                <p class="control">
                                    <a class="button is-warning" @onclick="() => { UpdateEmailAddress(email.EmailAddressId); }">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-danger" @onclick="() => { DeleteEmailAddress(email.EmailAddressId); }">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                
                <div class="panel">
                    <p class="panel-heading">
                        Telephone Numbers
                        <a class="button is-pulled-right is-small is-success" @onclick="@CreateTelephoneNumber">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                                
                    @foreach (var telephone in Contact.TelephoneNumbers)
                    {
                        <div class="panel-block">
                            <label class="label">@telephone.Type</label>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-info" href="tel:@telephone.Telephone">
                                        <i class="fa fa-phone"></i>
                                    </a>
                                </p>
                                <div class="control is-expanded">
                                    <input class="input" value="@telephone.Telephone" type="tel" placeholder="555 - 12345" disabled="disabled">
                                </div>
                                <p class="control">
                                    <a class="button is-warning" @onclick="() => { UpdateTelephoneNumber(telephone.Id); }">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-danger" @onclick="() => { DeleteTelephoneNumber(telephone.Id); }">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                
                <div class="panel">
                    <p class="panel-heading">
                        Relationships
                        <a class="button is-pulled-right is-small is-success" @onclick="@CreateRelationship">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                                
                    @foreach (var relationship in Contact.Relationships)
                    {
                        <div class="panel-block">
                            <label class="label">@relationship.Type</label>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-info"> @* a click here should execute a search for the name *@
                                        <i class="fa fa-search"></i>
                                    </a>
                                </p>
                                <div class="control is-expanded">
                                    <input class="input" value="@relationship.Person" type="text" placeholder="e.g. Jamie Oliver" disabled="disabled">
                                </div>
                                <p class="control">
                                    <a class="button is-warning" @onclick="() => { UpdateRelationship(relationship.RelationshipId); }">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-danger" @onclick="() => { DeleteRelationship(relationship.RelationshipId); }">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
                
                <div class="panel">
                    <p class="panel-heading">
                        Status Updates
                        <a class="button is-pulled-right is-small is-success" @onclick="@CreateStatusUpdate"> 
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </p>
                                                
                    @foreach (var statusUpdate in Contact.Timeline)
                    {
                        <div class="panel-block">
                            <label class="label">@statusUpdate.Created.ToString("dd.MM.yyyy")</label>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" value="@statusUpdate.StatusText" type="text" disabled="disabled">
                                </div>
                                <p class="control">
                                    <a class="button is-warning" @onclick="() => { UpdateStatusUpdate(statusUpdate.StatusUpdateId); }">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-danger" @onclick="() => { DeleteStatusUpdate(statusUpdate.StatusUpdateId); }">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    }
                </div>

                <div class="field">
                    <label for="tags" class="label">Tags: </label>
                    <div class="control">
                        <InputText id="tags" class="input" @bind-Value="@Contact.Tags" placeholder="football, family"></InputText>
                        <ValidationMessage class="" For="@(() => Contact.Tags)"/>
                    </div>
                </div>
                
                <div class="buttons">
                    <button type="submit" class="button is-info is-medium">Save</button>
                    <button class="button is-outlined is-info is-medium" @onclick="@NavigateToOverview">Cancel</button>
                    @if (Contact.ContactId > 0)
                    {
                        <button class="button is-danger is-medium" @onclick="@DeleteContact">
                            Delete
                        </button>
                    }
                </div>
            </EditForm>
        }
        else
        {
            <article class="message @StatusClass">
                <div class="message-header">
                    <p>@MessageTitle</p>
                </div>
                <div class="message-body">
                    @Message
                </div>
            </article>
            <a class="button is-info is-outlined" @onclick="@NavigateToOverview">Back to overview</a>
        }
    </div>
</section>