@page "/ContactEdit"
@page "/ContactEdit/{ContactId}"
@inherits ContactEditBase

<section class="column">
    <div class="box contact-edit">

        @if (!Saved)
        {
            <h1 class="title">Details for @Contact.FirstName @Contact.LastName</h1>

            <EditForm Model="@Contact" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

                <DataAnnotationsValidator/>
                <ValidationSummary/>


                <div class="field">
                    <label for="firstName" class="field">First name: </label>
                    <div class="control">
                        <InputText id="firstName" class="input" @bind-Value="@Contact.FirstName" placeholder="Enter first name"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.FirstName)"/>
                    </div>
                </div>
                <div class="field">
                    <label for="middleName" class="field">Middle name: </label>
                    <div class="control">
                        <InputText id="middleName" class="input" @bind-Value="@Contact.MiddleName" placeholder="Enter middle name"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.MiddleName)"/>
                    </div>
                </div>
                <div class="field">
                    <label for="lastName" class="field">Last name:</label>
                    <div class="control">
                        <InputText id="lastName" class="input" @bind-Value="@Contact.LastName" placeholder="Enter last name"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.LastName)"/>
                    </div>
                </div>
                
                <div class="field">
                    <label for="address" class="field">Address: </label>
                    <div class="control">
                        <InputText id="address" class="input" @bind-Value="@Contact.Address" placeholder="Address"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.Address)"/>
                    </div>
                </div>

                <div class="field">
                    <label for="employer" class="field">Employer: </label>
                    <div class="control">
                        <InputText id="employer" class="input" @bind-Value="@Contact.Employer" placeholder="Employer"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.Employer)"/>
                    </div>
                </div>
                <div class="field">
                    <label for="businessTitle" class="field">BusinessTitle: </label>
                    <div class="control">
                        <InputText id="businessTitle" class="input" @bind-Value="@Contact.BusinessTitle" placeholder="Business Title"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.BusinessTitle)"/>
                    </div>
                </div>
                
                <div class="field">
                    <label for="tags" class="field">Tags: </label>
                    <div class="control">
                        <InputText id="tags" class="input" @bind-Value="@Contact.Tags" placeholder="football, family"></InputText>
                        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Contact.Tags)"/>
                    </div>
                </div>
                
                <button type="submit" class="button is-info is-medium">Save</button>
                <a class="button is-outlined is-info is-medium" @onclick="@NavigateToOverview">Cancel</a>
                @if (Contact.ContactId > 0)
                {
                    <a class="button is-danger is-medium" @onclick="@DeleteContact">
                        Delete
                    </a>
                }
            </EditForm>
        }
        else
        {
            <article class="message @StatusClass">
                <div class="message-header">
                    <p>@MessageTitle</p>
                </div>
                <div class="message-body">
                    @Message
                </div>
            </article>
            <a class="button is-info is-outlined" @onclick="@NavigateToOverview">Back to overview</a>
        }
    </div>
</section>