@page "/"

@using FriendsAndMore.UI.Models
@using FriendsAndMore.UI.Services
@inject IContactService ContactService

@if (contacts == null)
{
    <p>
        <em>Loading contacts...</em>
    </p>
}
else
{
    foreach (var contact in contacts)
    {
        <div class="column">
            <a href="@($"ContactEdit/{contact.ContactId}")">
                <div class="card" id="contact-teaser-@contact.ContactId" data-contact-id="@contact.ContactId">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://placeimg.com/48/48/any" alt="Profile image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <span class="is-pulled-right is-4 title favorite" data-contact-id="@contact.ContactId">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <p class="title is-4">@contact.FirstName @contact.LastName</p>
                            </div>
                        </div>

                        <div class="content">
                            @if (!string.IsNullOrWhiteSpace("Model.Address"))
                            {
                                <i class="fa fa-map-marked-alt"></i>
                                <span>Musterweg 32, 34142 Rostock</span>
                                <br/>
                            }
                            @if (!string.IsNullOrWhiteSpace("Model.Employer"))
                            {
                                <i class="fa fa-building"></i>
                                <span>Enterprise Stuff AG</span>
                                <br/>
                            }
                            @if (!string.IsNullOrWhiteSpace("Model.BusinessTitle"))
                            {
                                <i class="fa fa-briefcase"></i>
                                <span>Lumpa Lumpa</span>
                                <br/>
                            }
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
}

@code
{
    private IEnumerable<Contact> contacts;

    protected override async Task OnInitializedAsync()
    {
        contacts = await ContactService.GetAllContacts();
    }

}